*
{
  box-sizing: border-box;
}
.login-wrapper
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#4f46e5, #3ae4ed);
  padding: 20px;
}

.login-card
{
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.login-card h2{
  margin-bottom: 18px;
  font-size: 28px;
  text-align: center;
}

.login-card p{
  text-align: center;
  color: #666;
  margin-bottom: 30px;

}

.form-group
{
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

label{
  margin-bottom: 8px;
  font-weight: 600;
}

input{
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus
{
  border-color: #4f46e5;
}

.error
{
  color: red;;
  font-size: 12px;
  margin-top: 5px;
}

.forgot-password
{
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a{
  text-decoration: none;
  color: #4f46e5;
  font-size: 14px;
}

button{
  width: 100%;
  padding: 14px;
  border: none;
  background: #0576e7;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover
{
  background: #027c49;
}

@media(max-width:768px)
{
  .login-card{
    padding:30px;
  }
}

@media(max-width:480px)
{
  .login-card{
    padding: 24px;
    border-radius: 12px;
  }

  .login-card h2{
    font-size: 24px;
  }

  input, button{
       padding: 12px;
  }
}