<mat-card class="product-card">

    <img mat-card-image [src]="product.image" alt="product">

    <mat-card-content>
               <h2>{{product.name}}</h2>
               <p class="price">₹{{ product.price }}</p>

               <div class="rating">
                   <mat-icon color="warm">star</mat-icon>
                   {{product.rating}}
               </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addToCart()">
            Add to Cart
        </button>
    </mat-card-actions>
</mat-card>